<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="/var/www/html/public/lib/phpunit/bootstrap.php"
         cacheDirectory="/var/www/moodledata_phpunit/phpunit_cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="local_mc_plugin_testsuite">
            <directory suffix="_test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">./classes</directory>
            <file>./lib.php</file>
        </include>
        <exclude>
            <directory>./tests</directory>
        </exclude>
    </source>
</phpunit>
